<template>
    <div>
        <a @click="addLike"  class="btn "><i ref="favorite" :class="this.fill"></i></a>
    </div>
</template>

<script>
    export default {
        props: ['route', 'article', 'fill'],
        methods: {
            addLike: function(){
                axios.post(this.route, this.article.id)
                    .then((response) => {
                        this.$refs.favorite.className == "fas fa-star" ? this.$refs.favorite.className = "far fa-star" : this.$refs.favorite.className = "fas fa-star";
                    }).catch((error) => {
                    if(error.response.status == 401){
                        window.location.href = "/login"
                    }
                })
            }
        },
    }
</script>

<style scoped>

</style>
