<template>
    <div>
        <a @click="addLike"  class="btn "><i ref="like" :class="this.fill"></i></a><span>{{like}}</span>
    </div>
</template>

<script>

    export default {
        props: ['route', 'article', 'fill'],
        data: function (){
            return {
                like: this.article.likes
            }
        },
        methods: {
            addLike: function(){
                axios.post(this.route, this.article.id)
                    .then((response) => {
                        this.like = response.data.likes;
                        this.$refs.like.className == "fas fa-heart" ? this.$refs.like.className = "far fa-heart" : this.$refs.like.className = "fas fa-heart";
                    }).catch((error) => {
                        if(error.response.status == 401){
                            window.location.href = "/login"
                        }
                })
            }
        },
    }
</script>

<style scoped>

</style>
